body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto; /* Usar min-height para asegurarse de que el cuerpo cubra al menos toda la altura de la ventana */
    margin: 0; /* Quitar el margen predeterminado del cuerpo */
    background-color: #D0D4CA; /* Agregar un color de fondo para el cuerpo */
}

.container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Añadir flex-wrap para que las tarjetas fluyan en una nueva línea cuando no haya suficiente espacio */
    justify-content: center;
}

.card {
    text-align: center;
    width: calc(33.33% - 20px); /* Ajustar el ancho de las tarjetas */
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer; /* Cambiar el cursor para indicar que las tarjetas son interactivas */
    transition: transform 0.4s, box-shadow 0.4s; /* Separar las transiciones para evitar parpadeos al pasar el cursor */
}

.card:hover {
    transform: scale(1.05); /* Hacer que la tarjeta se agrande ligeramente en el hover */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card figure img {
    width: 100%; /* Las imágenes ocupan todo el ancho de la tarjeta */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

.c {
    margin-block-end: 10px;
    display: inline-block; /* Hace que el enlace se comporte como un bloque en línea */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno para ajustar el tamaño */
    border: none; /* Quitar el borde */
    border-radius: 5px; /* Borde redondeado */
    text-decoration: none; /* Quitar la subrayado predeterminado de los enlaces */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño del texto */
    transition: background-color 0.3s; /* Transición de color de fondo */
}

.c:hover {
    background-color: #0056b3; /* Cambiar el color de fondo al pasar el ratón */
}