/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
.header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 30px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header p {
    font-size: 14px;
    margin: 0;
}

/* Estilo para el contenedor de opciones */
.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Estilo para cada opción */
.option {
    text-align: center;
    margin: 10px;
}

/* Estilo para los iconos */
.icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

/* Estilo para los enlaces y texto de opciones */
.option a {
    text-decoration: none;
    color: #333;
}

.option a:hover {
    color: #007bff;
}
