html {
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fafafa;
}

/*=========================================== SIDEBAR ===================================================== */

.sidebar {
    height: 100%;
    width: 22%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0b5b96;
    color: white;
    padding-top: 20px;
    /* shadow on the right */
    box-shadow: 3px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.headerSidebar {
    width: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    user-select: none;
}

.logoImg {
    width: 3rem;
    margin-right: 0.3rem;
}

.userSidebar {
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 0.4rem;
}

.sidebarContent {
    font-weight: 300;
    font-size: 0.9rem;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
    border-radius: 0.3rem;
    padding-left: 1rem;    
}

.sidebar a:hover {
    background-color: #127ec7;
}

.sidebarFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}

.btnSalir {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin-left: 15%;
    background-color: white;
    /* Color de fondo */
    color: #0b5b96;
    /* Color del texto */
    padding: 0.4rem 2rem;
    /* Espaciado interno */
    border: none;
    /* Quita el borde */
    border-radius: 0.3rem;
    /* Añade esquinas redondeadas */
    cursor: pointer;
    width: 60%;
}

.btnSalir:hover {
    background-color: #127ec7;
    /* Color de fondo */
    color: white;
    /* Color del texto */

}

.aBtn {    
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 15%;
    background-color: white;        
    color: #0b5b96!important; 
    padding: 0.4rem 2rem!important;    
    border: none;    
    border-radius: 0.3rem;    
    width: 60%;
    text-align: center;
    margin: 0 auto;    
    margin-top: 6rem;
}

.aBtn:hover {
    background-color: #127ec7;
    /* Color de fondo */
    color: white!important;
    /* Color del texto */

}

.aBtn2 {    
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 15%;
    background-color: #127ec7;
    color: white!important; 
    padding: 0.4rem 2rem!important;    
    border: none;    
    border-radius: 0.3rem;    
    width: 60%;
    text-align: center;
    margin: 0 auto;    
    margin-top: 6rem;
}

.aBtn2:hover {
    background-color: white;
    /* Color de fondo */
    color: #127ec7!important;
    /* Color del texto */

}

.btnSalir2 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;    
    background-color: white;
    /* Color de fondo */
    color: #0b5b96;
    /* Color del texto */
    padding: 0.4rem 2rem;
    /* Espaciado interno */
    border: none;
    /* Quita el borde */
    border-radius: 0.3rem;
    /* Añade esquinas redondeadas */
    cursor: pointer;
    width: 60%;
    margin-left: 3.5rem;   
    margin-top: 9rem; 
}

.btnSalir2:hover {
    background-color: #127ec7;
    /* Color de fondo */
    color: white;
    /* Color del texto */

}



/*=========================================== CONTENT ===================================================== */

.contenido {
    margin-top:3rem;

    margin-left: 35%;
    /* Ancho de la barra lateral */
    padding: 2rem;
}

.contenido2 {
    margin-left: 30%!important;;
    margin-top:3rem;

    /* Ancho de la barra lateral */
    padding: 2rem;
}


.contenidoHeader{

}

.panelTitulo{

}

.contenidoBody{
    margin-top: 1rem;
    display:flex;   
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 80%;
}


.enlaceCard{
    text-decoration: none;
    color:black;
    width: calc(33.33% - 20px);
}

.card {    
    margin-top:2rem;        
    border: 1px solid #ebebf0;
    border-radius: 0.4rem;
    position: relative;
    transition: box-shadow 0.3s ease;   
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor:pointer;        
}

.circle-img {    
    width: 6rem;
    border-radius: 50%;
    margin-top:2rem;
    background-color:#0b5b96;
}

.circle-img img {
    width: 100%;
}

.circle-img2 {    
    width: 8rem;
    border-radius: 10%;
    margin-top:2rem;
    background-color:rgb(27, 168, 214);
}

.circle-img2 img {
    width: 100%;
}


.card-text {
    text-align: center;
    transition: opacity 0.3s ease;
    font-weight: 400;
    font-size: 0.9rem;
}


.card:hover {
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.card:hover .card-text {
    opacity: 1;
}


/*=========================== LOGIN FORM =========================== */
.error{
    padding-top:1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: red;
    width: 100%;
    height: 4rem;
}

.bien{
    padding-top:1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: green;
    width: 100%;
    height: 3.5rem;
}

.loginHeader{
    text-align: center;
    color:white;
    user-select: none;
}

.login-container{
    width: 30rem;
    height: 35rem;
    background-color: #0b5b96;
    border-radius: 0.3rem;
    padding: 3rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.login-container2{
    width: 30rem;
    
    background-color: #0b5b96;
    border-radius: 0.3rem;
    padding: 3rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.login-container3{
    margin: 0 auto;
    width: 30rem;
    height: 35rem;
    background-color: #0b5b96;
    border-radius: 0.3rem;
    padding: 3rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.login-container4{
    margin: 0 auto;
    width: 30rem;
    background-color: #0b5b96;
    border-radius: 0.3rem;
    padding: 3rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}



.login-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.formRow{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-top:1rem;

    position:relative;
}
.formRow .input {
    padding-right: 30px;
}
.formRow .fa {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(65%);
    color:rgb(38, 81, 149);
}
.formRow2{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-top:4rem;
}

.lblinput{
    color:white;
    user-select: none;
}

.input{
    border:none;
    height:2rem;
    padding:1rem;
    border-radius:0.3rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.inputNumber {
    border: none;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.olvidasteContrasena{
    margin-top:1rem;
    text-decoration: none;
    color:lightblue;
}
.olvidasteContrasena:hover{
    text-decoration: underline;
}

.registrate{
    margin-top:4rem;
    text-decoration: none;    
    color:lightblue;
    bottom: 0;    
}

.registrate:hover{
    text-decoration: underline;
}

.boton1{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    background-color: rgb(252, 254, 255);
    border: none;
    cursor: pointer;
    height: 2rem;    
    width: 9rem;
    border-radius: 0.3rem;
    margin: 0 auto;
    
}

.boton1:hover{
    background-color: lightblue;
    border: none;
    cursor: pointer;
}

.boton2{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    background-color: rgb(252, 254, 255);
    border: none;
    cursor: pointer;
    height: 2rem;    
    width: 12rem;
    border-radius: 0.3rem;
    margin: 0 auto;
    margin-top:3rem;
    
}

.boton2:hover{
    background-color: lightblue;
    border: none;
    cursor: pointer;
}


.form-select{
    padding-left: 1rem;        
    color:black;
    border:none;
    height:2rem;    
    border-radius:0.3rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ========================== NAVBAR ================================ */

.navbar{
    background-color: #0b5b96;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    top:0;
    color:#FFFBF5;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);    
    z-index: 100;
}

.navbarTitulo{    
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    user-select: none;
    
}

.mensajeSesion{
    font-weight: 400;
    
}

.navbarCuerpo{
    display:flex;
    justify-content: space-evenly;
    width: 50%;
}

.enlaceNavbar{
    font-size: 1.2rem;
    text-decoration: none;
    color:white;
    transition: ease-out 0.2s;
}

.enlaceNavbar:hover{
    text-decoration: none;
    color:rgb(46, 194, 253);        
}

.formNavbar{
    margin:0;
}
.btnNavbar{
    font-family: 'Poppins', sans-serif;
    border:none;
    border-radius: 1rem;
    cursor:pointer;
    padding: 0.5rem 1rem;
    color: #0b5b96;      
    transition: ease-out 0.3s;  
}

.btnNavbar:hover{
    background-color: rgb(46, 194, 253);
    color: white;
}


/* ======================= CUERPO ============================= */
.cuerpo{    
    height: 100vh;
    margin-top:8rem;
    background-color: #FFFBF5;    
}

.cuerpo2{
    
    margin-top: 7rem;
    background-color: #FFFBF5;    
}


/* =======================CARTAS============================== */

.contenedorCartas{
    display:flex;
    justify-content: space-evenly;    
}

.carta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20rem;
    background-color: #F7EFE5;    
    border-radius: 0.3rem;
    border: 1px solid #ebebf0;    
    padding: 1rem;    
    border-top: 4px solid #0b5b96;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);    
    transition: box-shadow 0.2s ease;    
}

.carta:hover{    
    box-shadow: none;
}

.carta-header{
    
}

.imagenCarta{
    width: 100%;
    height: 11rem;
    border-radius: 0.3rem;
}

.carta-body{
    text-align: justify;    
}

.cartaTitulo{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #0b5b96;
    text-align: center;
}

.carta-footer{
    text-align: center;
}

.abtnContratarServicio{
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: #0b5b96;
    text-decoration: none;
    color:white;        
}

.abtnContratarServicio:hover{
    background-color: #C3ACD0;
    color: #0b5b96;
}

/* ======================= FOOTER ============================= */
.footer{
    background-color:#0b5b96;    
    position: relative;
    z-index: 100;
}

.mensajeFooter{
    padding: 1rem 0;
    text-align: center;
    font-weight: 500;
}

/*================== contenido2 ==============*/
.contenido2{
    margin-top:3rem;
    margin-left: 35%;
    margin-right: 10rem;
    /* Ancho de la barra lateral */
    padding: 2rem;
}


/* ================= CARROUSEL =============================== */
.contenedorCarrousel{
    width: 70%;
    position: relative;
    z-index: 1; /* Ajusta el valor según sea necesario */                    
}

.sombra{
    border-radius: 0.4rem!important;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.sombra2{
    border-radius: 0.3rem!important;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.sombraTexto1{
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.hero1{
    background-color: #0b5b96;
    padding: 0.5rem;
}

.bg-purple {
    background-color: #7e56a2;
}

.titulo11{
    font-size: 5rem;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.subtitulo11{
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.subtitulo22{
    font-size: 1.6rem;
    font-weight: 400;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.bg1{
    background-color: #F7EFE5;
}


/*-----------------------------------*/

.btnPerfiles {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin-left: 15%;
    background-color: #0b5b96;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    padding: 0.4rem 2rem;
    /* Espaciado interno */
    border: none;
    /* Quita el borde */
    border-radius: 0.3rem;
    /* Añade esquinas redondeadas */
    cursor: pointer;
    width: 60%;
}

/*---------------APIVIDEOS--------------------*/
.logo img{
    width: 30px;
    height: auto;
    margin-top: 10px;
}
.navbarVideos a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}

/* .nav-bar a {
    text-decoration: none; /* Elimina el subrayado del enlace 
    color: #fff; /* Cambia el color del texto a blanco 
} */

.nav-bar{
    width: auto;
    height: 70px;
    display: flex;
    background: #0b5b96;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0px 0px 0px 0px;
    margin: 0 auto;
    margin-top: auto;
    color: #fff;
}
.barra-vid{
    margin-top: auto;
}

.barra-vid.logo{
    display: none;
}
.barra-vid ul{
   display:flex; 
}

.barra-vid ul li a{
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    text-decoration: none;
}

.barra-vid ul li a:hover{
    background: rgb(8, 123, 205);
}

.barra-video ul li a.active{
    background: #675cff;
    color: #fff;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover{
    background: #f6f4ff;
}

.hamburger div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px){
    .help{
        width: auto;
        padding: 0 20px;
    }
    .barra-vid{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 90vh;
        background-color: rgba(11, 91, 150);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
        /* border-radius: 5%; */
        border-radius: 0px 10px 20px 0px;
        margin-top: 10.6%;

    }

    #nav_check:checked ~ .barra-vid{
        left: 0;
    }
    .barra-vid .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .barra-vid ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .barra-vid ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger{
        display: block;
        
    }
}

.text-center2{
    color: #0a7ffc;
    font-size: 70%;
    margin-top: 1.5%;
}


.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #fff;
    flex-wrap: nowrap;
    flex-direction: column;
}

.container h1.helpers {
    margin-top: 2%;
    text-align: center;
}



/* Aqui ira el diseño para el despliegue de los videos.*/

.Videos {
    margin-top: 3%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
}


/* Aqui ira el estilo para el ampliador de contenido. */

.buscar {
    margin-top: 2%;
    text-align: center; /* Centra el contenido del div */
}

.buscar input[type="number"] {
    width: 170px; /* Ajusta el ancho del campo de entrada */
    padding: 4px; /* Agrega relleno alrededor del campo de entrada */
    font-size: 15px; /* Tamaño de fuente */
}

.buscar input[type="number"]::placeholder {
    
    color: #999; /* Color del texto del placeholder */
}

/*-----------------CIERRE DE ESTILOS PARA APIVIDEOS-------------------*/
