/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #424141;
    color: #fff;
    padding: 10px;
    position: relative;
}


.regresar-button {
    position: absolute;
    top: 35px;
    right: 20px;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.regresar-button:hover {
    background-color: #838383;
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 0;
}

/* Estilo para el contenedor de la tabla */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
}

/* Estilo para las celdas de la tabla */
table, th, td {
    border: 1px solid #333;
}

/* Estilo para las celdas de encabezado */
th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}

/* Estilo para las celdas de datos */
td {
    text-align: left;
    padding: 10px;
}

/* Estilo para los enlaces dentro del cuerpo */
a {
    color: #007bff;
    text-decoration: none;
}

/* Estilo para los enlaces al pasar el mouse por encima */
a:hover {
    text-decoration: underline;
}
