/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    text-align: center;
    background-color: #424141;
    color: #fff;
    padding: 10px;
    position: relative;
}

/* Estilo para el botón "Regresar" */
.regresar-button {
    position: absolute;
    top: 35px;
    right: 20px;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.regresar-button:hover {
    background-color: #838383;
}

/* Estilo para el formulario */
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para las etiquetas */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo para los campos de entrada de texto */
form input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para el botón de envío */
form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}
